@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.face {
  fill: gold;
}

.mouth {
  fill: none;
  stroke: #000;
  stroke-width: 6px;
  stroke-linecap: round;
}

.left-eyebrow {
  transform: rotate(80deg);
  transform-origin: 100px 82px;
  transition: all .5s linear;
}

.right-eyebrow {
  transform: rotate(100deg);
  transform-origin: 156px 82px;
  transition: all .5s linear;
}

.smiley:hover .left-eyebrow {
  transform: rotate(100deg);
}

.smiley:hover .right-eyebrow {
  transform: rotate(80deg);
}
